<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Top Movies</title>

    <script src="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template\index.js" type="text/javascript"></script>
      
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/round-about.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Top Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template\index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">You want movies?
        <small>We've got them!</small>
      </h1>
      <p>The BEST place in the WORLD for movie rentals. There is no better site out there to get the movies you want, when you want them! We have the best, and I mean THE BEST, selection of films on the market, with hundreds of exclusive films for your viewing pleasure.</p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Top Hits!</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template 2 Electric Boogaloo\index.html">
            <img class="rounded-circle img-fluid d-block mx-auto" src="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template\css\Academy_Dinosaur.jpg" alt="">
          </a>
            <h3>Academy Dinosaur</h3>
          <p>A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template 3 The Clock Strikes Back\index.html">
            <img class="rounded-circle img-fluid d-block mx-auto" src="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template\css\Butch Panther.png" alt="">
          </a>
            <h3>Butch Panther</h3>
          <p>A Lacklusture Yarn of a Feminist And a Database Administrator who must Face a Hunter in New Orleans</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template 4 Knock On The Door\index.html">
            <img class="rounded-circle img-fluid d-block mx-auto" src="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template\css\Desire Alien.png" alt="">
          </a>
          <h3>Desire Alien</h3>
          <p>A Fast-Paced Tale of a Dog And a Forensic Psychologist who must Meet a Astronaut in The First Manned Space Station</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template 5 Into The Beehive\index.html">
            <img class="rounded-circle img-fluid d-block mx-auto" src="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template\css\World Leathernecks.png" alt="">
          </a>
          <h3>World Leathernecks</h3>
          <p>A Unbelieveable Tale of a Pioneer And a Astronaut who must Overcome a Robot in An Abandoned Amusement Park</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template 6 Picking Up Sticks\index.html">
            <img class="rounded-circle img-fluid d-block mx-auto" src="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template\css\Sleepy Japanese.png" alt="">
          </a>
          <h3>Sleepy Japanese</h3>
          <p>A Emotional Epistle of a Moose And a Composer who must Fight a Technical Writer in The Outback</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <a href="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template 7 Ascending To Heaven\index.html">
            <img class="rounded-circle img-fluid d-block mx-auto" src="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template\css\Sugar Wonka.png" alt="">
          </a>
          <h3>Sugar Wonka</h3>
          <p>A Touching Story of a Dentist And a Database Administrator who must Conquer a Astronaut in An Abandoned Amusement Park</p>
        </div>
      </div
      <div>
        <div id="div1">
          <form id="butt1" action="file:///C:\Users\Admin\Desktop\SpringBootToWeb\Template 8 It's Getting Late\index.html">
            <input type="submit" value="Random Film" />
          </form>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
